/.gradle
.settings
/.project
/.classpath
.idea
.vscode
build
bin
out
/logs/
node_modules
webpack.config.js
package.json
package-lock.json
.log
.babelrc
.prettierrc
.history
/.metadata/
generated
*.log